<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.csgeeks.TinyG"
    android:versionCode="14"
    android:versionName="@string/version" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.usb.accessory"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".BaseActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditPreferencesActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MachineActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MotorActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AxisActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".JogActivity" />
        <activity
            android:name=".FileActivity"
            android:windowSoftInputMode="stateHidden" />

        <service android:name=".Net.TinyGNetwork" >
            <intent-filter>
                <action android:name="org.csgeeks.TinyG.Net.TinyGNetwork" />
            </intent-filter>
        </service>
        <service android:name=".USBHost.USBHostService" >
            <intent-filter>
                <action android:name="org.csgeeks.TinyG.USBHost.USBService" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/usb_device_filter" />
        </service>
        <service
            android:name=".USBAccessory.USBAccessoryService"
            android:label="@string/app_name"
            android:taskAffinity="" >
            <intent-filter>
                <action android:name="org.csgeeks.TinyG.USBAccessory.USBAccessoryService" />
            </intent-filter>
        </service>
    </application>

</manifest>